<h1>Welcome to the Blog</h1>

<div>
  <p> Hello, <%= @user.email %></p>
  <p> 
    You need to confirm your account. <br>
    Please, visit this link: <%= @link %>
  </p>
  
</div>


<p>
  Thanks for joining and have a great day!
</p>


