<section class="p-10 flex flex-col items-center">
  <h1 class="main-title">Rails App</h1>
  <div>
    <%= image_tag("ux.jpg")%>
  </div>
  <div class="p-10 text-center">
    Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque lobortis bibendum lacus dictum convallis ad. Venenatis efficitur euismod habitant per hendrerit sem aenean. Commodo tortor enim nullam viverra habitant euismod luctus scelerisque. Penatibus leo tempor vehicula etiam nostra efficitur. Sagittis dis pellentesque consequat risus sodales augue morbi sodales. Facilisi eget vivamus fames enim cras pharetra dictumst? Felis torquent ante sem mauris consequat nascetur parturient habitant.

Ultricies at elit suscipit condimentum platea nam leo fames felis. Urna lorem fusce egestas ac, placerat mollis netus. Tempus finibus ad turpis a accumsan dictum placerat ligula. Auctor integer tempor fusce dictumst convallis convallis efficitur faucibus. Vivamus nunc aliquet justo tortor mus libero magna aliquet. Potenti tempor commodo luctus aptent potenti blandit.

Tincidunt urna sociosqu adipiscing maximus litora. Pulvinar luctus non magnis fringilla commodo montes ultricies vulputate at. Montes maecenas neque fringilla facilisi integer ridiculus. Parturient ante etiam convallis tempus malesuada taciti. Himenaeos tortor pulvinar odio gravida eu magnis per fermentum. Sapien inceptos himenaeos tempor elementum tempus. Parturient ac fermentum neque inceptos litora rhoncus inceptos duis neque. Dapibus nisl ac, semper facilisis arcu curabitur. Est maecenas ligula rhoncus torquent et.

Ipsum natoque curae; auctor suspendisse elit gravida. Inceptos etiam dignissim posuere nulla ullamcorper nunc maximus! Consequat pulvinar conubia netus quam aenean cursus. Urna dignissim mauris; mattis magnis volutpat fringilla elit leo. Magnis malesuada magnis elementum, tellus molestie odio sagittis. Mi purus posuere orci maecenas mi lacinia. Conubia bibendum aliquet tempor mollis facilisi nullam habitasse. Nibh consectetur condimentum sollicitudin convallis curabitur; sem elementum amet. Curabitur cubilia natoque eleifend torquent ex.

Taciti non urna cubilia et vestibulum etiam. Natoque fames nostra sodales odio libero tellus laoreet. Dapibus montes eu elementum id pellentesque pellentesque sociosqu mauris. Aptent eros dis molestie porttitor feugiat placerat. Inceptos pulvinar rutrum felis eleifend non feugiat. Id at dolor fames sollicitudin eleifend pretium, ut odio.

Dapibus pulvinar sagittis curae egestas enim blandit. Penatibus hac laoreet, rutrum euismod auctor fermentum vitae. Magna natoque id ultricies quis potenti. Sociosqu montes aliquam placerat enim adipiscing class. Amet class montes nec class litora neque himenaeos lobortis. Sodales congue natoque lectus congue natoque et. Sagittis nisi sociosqu; maecenas mi duis vitae erat tristique.

Nisl nibh lobortis tempus sagittis posuere scelerisque duis rhoncus? Sem eget taciti magnis sed auctor nisl fringilla urna diam. Parturient tortor praesent pharetra praesent arcu penatibus tortor nunc. Egestas parturient facilisis auctor lobortis augue. Maecenas porta dis ultricies volutpat nec mi consectetur faucibus. Tellus suscipit leo iaculis hendrerit vivamus phasellus luctus. Sapien volutpat ligula justo varius mollis curae cras. Lobortis quam suspendisse facilisi ornare, et ipsum interdum tristique. Varius neque himenaeos hac, commodo aliquet mauris.

Posuere potenti semper quis consequat quisque turpis? Cursus nisi tellus maximus massa consequat vulputate nullam. Ac lectus neque ac litora in per. Convallis elit risus diam cursus fames luctus arcu; conubia quisque. Magna habitasse class habitant; rhoncus velit morbi amet. Volutpat scelerisque congue mauris ridiculus augue nisi. Feugiat mus per aenean faucibus rhoncus; sit luctus accumsan nam.

Non torquent fermentum tellus, montes ut senectus enim habitasse primis. Condimentum interdum nunc turpis donec malesuada risus netus malesuada dapibus. Aptent maximus nisi amet, litora hendrerit augue ultrices placerat venenatis. Fames metus ultrices nec felis turpis fermentum justo scelerisque. Tellus ad nisl quis senectus elementum et dictum nisi? Suscipit dolor in ultricies elementum purus nam. Nibh ultricies aliquam curabitur aptent egestas tempor placerat vivamus. Feugiat inceptos feugiat, eros sem enim sollicitudin.

Augue condimentum urna libero ut habitant fermentum penatibus. At quis erat ante; nisi auctor euismod faucibus. Potenti fermentum enim ornare turpis parturient phasellus dui. Mattis phasellus blandit rhoncus dis conubia fames. Dis porttitor etiam turpis, consectetur himenaeos dolor. Felis finibus sagittis malesuada sodales mauris penatibus nec. Integer arcu tincidunt vulputate pretium nisi molestie.
  </div>
</section>
